@media (min-width:700px) {
    .all-content{
        width: 100%;
    }
    .top-menu{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .foods, .drinks, .desserts{
        width: 100%;

    }
    .confirm-ordered{
        width: 100%;
    }
}